



.custom {
	display: flex;
	@media (max-width: $Tb){
		flex-direction: column;
	}
	
}
.custom__left, .custom__right {
	flex: 0 1 50%;
}

.custom__left{
	background: #E3EEED;
	@include adaptiv-value(padding-top,120,20);
	@include adaptiv-value(padding-bottom,120,20);
	@media (max-width: $Tb){
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	@include adaptiv-value(padding-left,60,20);
	
}

.custom__right {
	color: #fff;
	background: #214E41;
	letter-spacing: 0.02px;
	line-height: 170%;
	@include adaptiv-value(font-size,20,16);
	display: flex;align-items: center;justify-content: center;
	
}


.custom__right-wr{
	@include adaptiv-value(padding-top,100,20);
	@include adaptiv-value(padding-bottom,100,20);
	max-width: 66%;
	@media (max-width: $Tb){
		max-width: 95%;
	}
	
	p:not(:last-child){
		@include adaptiv-value(margin-bottom,34,15);
	}
}


.custom__left-subtitle {
	@include adaptiv-value(margin-bottom,20,15);
	text-transform: uppercase;
	letter-spacing: 0,02em;
	
}
.custom__left-list {
	li{
		@include adaptiv-value(margin-bottom,18,10);
		line-height: 130%;
		@include adaptiv-value(font-size,32,16);
	}
	.custom__left-title{
		color: #214E41;
		font-weight: 700;
		position: relative;
		a{display: inline-flex;
			align-items: center;}

		img{
			@include adaptiv-value(padding-left,35,10);	
		}	
	}
	
}