

.easy-enrollment {
	background: url(../img/easy-enrollment.jpg) 80% 100% /cover no-repeat;
	@include adaptiv-value(padding-top,125,35);
	@include adaptiv-value(padding-bottom,125,35);
	position: relative;
}


.easy-enrollment-wr {
	position: relative;
	z-index: 3;
	max-width: 500px;
}

.easy-enrollment__title{
	text-align: left;
}

.easy-enrollment__p{
		color: rgb(24, 23, 23);
		font-weight: 500;	
}