

.initial{
	position: relative;
	@include adaptiv-value(margin-top,90,70);	
	@include adaptiv-value(padding-top,165,46);
	@include adaptiv-value(padding-bottom,280,72);
	@include adaptiv-value(padding-left,105,10);
	background: url(../img/initial-image.jpg) 100% 100% /cover no-repeat;
}

.initial__title {

	max-width: 54%;
	@include adaptiv-value(margin-bottom,40,20);
	
	@media (max-width: $Mb){
		max-width: 80%;
	}
	
}

.initial__p{

	@include adaptiv-value(font-size,16,14);
	line-height: 150%;
	font-weight: 700;
	@include adaptiv-value(margin-bottom,16,10);
	color: #214E41;
}




.initial__input {
	display: inline-flex;
}

.initial__input-input-item {
	@include adaptiv-value(width,280,200);
	@include adaptiv-value(height,60,40);
	border-radius: 6px 0 0 6px;
	@include adaptiv-value(padding-left,20,10);
	&:focus{
		border: 1px solid skyblue;
	}
	&::placeholder{
		color: #222222;
		font-weight: 700;
		@include adaptiv-value(font-size,14,12);
		
	}
}

.initial__input-button-button {
	font-weight: 700;
	color: #fff;
	background: #43806C;
	@include adaptiv-value(height,60,40);
	@include adaptiv-value(line-height,60,40);
	text-align: center;
	@include adaptiv-value(width,120,60);
	border-radius: 0 6px 6px 0;
}


.initial__black {
	@media (max-width: $Tb){
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:  rgba(#fff, 0.388);
	display: block;
	}
	
}


.initial__content{
	position: relative;
	z-index: 3;
}